.github/AIR-RAG-GlobalEvolution-Serve.json
{
  "name": "AIR-RAG-GlobalEvolution-Serve",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').first().json.body.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are BROEN-LAB's Technical Information assistant. You help users by answering questions based on retrieved technical documentation.\n\nCONTEXT:\nYou have been provided with relevant technical documents that were retrieved specifically for the user's question: \"{{ $('Webhook').first().json.body.chatInput }}\"\n\nThe retrieved documents are available in the following data:\n{{ $json.text }}\n\nHARD RULES:\n- Answer ONLY using information from the provided retrieved documents above\n- Do NOT use any outside knowledge or make assumptions\n- If the retrieved documents don't contain the answer, say so clearly\n\nRESPONSE FORMAT:\nStructure your response as follows:\n\n1. **Answer Section**: \n   - Provide a clear, comprehensive answer to the user's question\n   - Synthesize information from the retrieved documents\n   - Use natural language, not just copying text verbatim\n\n2. **Sources Section**:\n   - List all sources used, including:\n     * Document source/filename (from metadata.source_pdf)\n     * Page numbers (from metadata.pages)\n   - Format as: \"Source: [filename], Page [number]\"\n\n3. **Closing**:\n   - End with a friendly offer to answer follow-up questions\n\nEXAMPLE FORMAT:\nBased on the technical documentation, [your answer here synthesizing the information from the retrieved documents].\n\n**Sources:**\n- Source: Technical-information-TI02.pdf, Page 2\n- Source: Technical-information-TI14.pdf, Page 1\n\nIs there anything else you'd like to know about this topic?\n\nIMPORTANT:\n- If multiple documents provide relevant information, synthesize them into a cohesive answer\n- Always cite your sources at the end\n- Stay focused on the user's specific question\n- If the documents don't contain the answer, respond: \"I don't have information about that in the retrieved technical documents. Please rephrase your question or ask about a different topic covered in BROEN-LAB documentation.\""
        }
      },
      "id": "01c94d7a-b64e-4d0d-ba35-787908c2c520",
      "name": "Knowledge Base Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1552,
        624
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "content": "# KB Update Phase\n\n1. Trigger from Changes to Sharepoint Folder\n2. Identify changed files (compare to hashes stored in n8n memory)\n3. Identify chunks that belong to PREVIOUS version of document",
        "height": 1040,
        "width": 3072,
        "color": 4
      },
      "id": "b032f92e-bf8e-4059-b431-01c9e70f34e7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3904,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Query Caching (blocked)\n\n- n8n data tables cannot store arbitrary objects ... we'd need to connect to yet another DB to store these values ... so no caching for clients who rely on n8n for the time being \n- the the naive idea was: if the exact same question is asked again, pull answer from database (cheaper, faster).\n- Problem: see above\n- Solution: if we use supabase, we will have the ability to operate additional tables for exactly this purpose",
        "height": 832,
        "width": 1344,
        "color": 6
      },
      "id": "f6298f70-5edd-49cc-bc98-a6b1e3ee6dca",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        1248
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Get the chat input\nconst query = $('Webhook').first().json.body.chatInput;\n\n// Get documents from MongoDB results\nconst documents = $input.all().map(item => item.json.text);\n\n// Build the request body\nreturn [{\n  json: {\n    model: \"cohere-rerank-v3.5\",\n    query: query,\n    documents: documents,\n    top_n: 5\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        816
      ],
      "id": "a9ef1a55-032a-4d06-ad48-a833d214fee3",
      "name": "Prepare Cohere Reranker"
    },
    {
      "parameters": {
        "jsCode": "// Get the reranked results from Cohere\nconst rerankedResults = $input.first().json.results;\n\n// Get the original MongoDB documents\nconst mongoResults = $('Aggregate documents').all();\n\n// Map the reranked indices back to the original documents\nconst topDocuments = rerankedResults.map(result => {\n  const originalDoc = mongoResults[result.index].json;\n  \n  return {\n    text: originalDoc.text,\n    metadata: originalDoc.metadata,\n    binary: originalDoc.binary,\n    document_id: originalDoc.document_id,\n    chunk_index: originalDoc.chunk_index,\n    _id: originalDoc._id,\n    mongoScore: originalDoc.score,\n    rerankScore: result.relevance_score,\n    rerankIndex: result.index\n  };\n});\n\n// Return the top documents\nreturn topDocuments.map(doc => ({ json: doc }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        832
      ],
      "id": "94cd1e6a-955b-4c8e-a321-2c7b6751aa25",
      "name": "Map Reranker"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9788c053-029c-4cdc-9dbc-7258124f6118",
              "name": "text",
              "value": "={{ $json.textData }}",
              "type": "string"
            },
            {
              "id": "02952d6b-8b8a-49de-a0f5-6cd3c7a12575",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        752
      ],
      "id": "d0a0e238-e615-4fee-aa24-f9e1b10207e3",
      "name": "Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11fd83ba-015c-44c4-97f3-26ec113e6c75",
              "name": "Images",
              "value": "={{ $json.imagesData }}",
              "type": "json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        1024
      ],
      "id": "68764562-380e-4621-b1b0-efb3566ae7be",
      "name": "Images"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2304,
        1008
      ],
      "id": "fa13c553-a30e-4e81-b35d-314120e21ccd",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const documents = $input.all();\n\nconst textDataArray = [];\nconst imagesDataArray = [];\n\nconst ensureArray = (value) => (Array.isArray(value) ? value : []);\n\nconst sanitizeFigureRef = (figure, defaults) => {\n  if (!figure || typeof figure !== 'object') return null;\n  const figureId = figure.figure_id;\n  if (!figureId) return null;\n  return {\n    figure_id: figureId,\n    doc_id: figure.doc_id || defaults.docId || null,\n    caption: figure.caption ?? null,\n    image_path: figure.image_path ?? null,\n    width: figure.width,\n    height: figure.height,\n    provenance: ensureArray(figure.provenance)\n  };\n};\n\ndocuments.forEach((doc, index) => {\n  const { text, metadata = {}, _id, mongoScore, rerankScore, binary = {}, document_id } = doc.json;\n\n  const docId = metadata.doc_id || document_id || metadata.source_pdf || null;\n  const figureRefs = ensureArray(metadata.figure_refs);\n  const sanitizedFigures = [];\n  const filteredBinary = {};\n\n  figureRefs.forEach((figure) => {\n    const sanitized = sanitizeFigureRef(figure, { docId });\n    if (!sanitized) return;\n    const binaryEntry = binary && Object.prototype.hasOwnProperty.call(binary, sanitized.figure_id) ? binary[sanitized.figure_id] : undefined;\n    if (!binaryEntry) return;\n    sanitizedFigures.push(sanitized);\n    filteredBinary[sanitized.figure_id] = binaryEntry;\n  });\n\n  const sanitizedMetadata = {\n    ...metadata,\n    figure_refs: sanitizedFigures\n  };\n\n  textDataArray.push({\n    documentIndex: index,\n    text,\n    metadata: sanitizedMetadata,\n    _id,\n    mongoScore,\n    rerankScore\n  });\n\n  if (sanitizedFigures.length) {\n    imagesDataArray.push({\n      documentIndex: index,\n      _id,\n      document_id: document_id || metadata.doc_id || null,\n      source_pdf: metadata.source_pdf || null,\n      pages: ensureArray(metadata.pages),\n      metadata: sanitizedMetadata,\n      binary: filteredBinary,\n      images: sanitizedFigures\n    });\n  }\n});\n\nreturn [{\n  json: {\n    textData: textDataArray,\n    imagesData: imagesDataArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        832
      ],
      "id": "924e991c-9afd-4455-9de3-fe8d6f2271f4",
      "name": "Split Text and Images"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2512,
        1008
      ],
      "id": "166b5ad0-eb6b-49ef-a452-66952d2793f6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\nif (!inputItem) {\n  return [];\n}\n\nconst imagesData = inputItem.json.Images;\nif (!Array.isArray(imagesData) || imagesData.length === 0) {\n  return [{ json: { type: 'images', images: [] } }];\n}\n\nreturn imagesData.map((doc) => {\n  const payload = {\n    type: 'images',\n    documentIndex: doc.documentIndex,\n    _id: doc._id,\n    document_id: doc.document_id,\n    source_pdf: doc.source_pdf,\n    pages: doc.pages,\n    metadata: doc.metadata,\n    binary: doc.binary\n  };\n\n  if (Array.isArray(doc.images) && doc.images.length > 0) {\n    payload.Images = JSON.stringify([{ documentIndex: doc.documentIndex, images: doc.images }]);\n    payload.images = doc.images;\n  }\n\n  return { json: payload };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        1024
      ],
      "id": "b6bfc9e8-4d02-44cd-92f5-a86b0891ffbd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "TIData-img-binary-dev",
        "query": "={{JSON.stringify($json.pipeline)}}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        352,
        832
      ],
      "id": "01a2787a-d358-4826-9c28-2e81e4ed6f08",
      "name": "Aggregate documents",
      "disabled": true
    },
    {
      "parameters": {
        "public": true,
        "authentication": "basicAuth",
        "initialMessages": "Hi there! 👋\nWelcome to the Regent Chat Experience.",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        -48
      ],
      "id": "63c1cb23-ef2e-4c70-8dcf-41c2f2b465b1",
      "name": "When chat message received",
      "webhookId": "82fd2806-9fc0-455b-9911-9e3f6457544f",
      "credentials": {
        "httpBasicAuth": {
          "id": "II1R775580SiPqFV",
          "name": "AIR-GA-TestUser"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.ai/v1/rerank",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cohereApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        960
      ],
      "id": "b5b60d10-9283-47cc-bf48-b91849cd01cc",
      "name": "Voyage 3 Rerank (broken)",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.voyageai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"voyage-3\",\n  \"input\": {{JSON.stringify($json.chatInput)}},\n  \"input_type\": \"document\"\n}",
        "options": {}
      },
      "id": "5b344d4b-6108-4cc6-9f29-adfe6d6f52a5",
      "name": "ccc",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -304,
        992
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.voyageai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"voyage-3.5-lite\",\n  \"input\": {{JSON.stringify($json.chatInput)}},\n  \"input_type\": \"query\"\n}",
        "options": {}
      },
      "id": "af3fbe65-0973-40e2-8f48-06824ff3a39e",
      "name": "ddd",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -304,
        1168
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.voyageai.com/v1/contextualizedembeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"voyage-context-3\",\n  \"inputs\": [[\"{{$json.body.chatInput}}\"]],\n  \"input_type\": \"query\"\n}",
        "options": {}
      },
      "id": "8d042424-c9fb-4a2b-aaf2-0ec5eb503534",
      "name": "Voyage-3-Context Embeddings QUERY",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -304,
        1360
      ],
      "executeOnce": true,
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbfaf978-e3af-4fed-a010-69f577cc43f5",
              "name": "numCandidates",
              "value": "33",
              "type": "string"
            },
            {
              "id": "1b42e1a9-b5ca-4d90-9a91-1ff1b7416bf2",
              "name": "limit",
              "value": "5",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        992
      ],
      "id": "b64a0396-1015-44e5-a190-9e7c488fc81d",
      "name": "Set Parameters2"
    },
    {
      "parameters": {
        "jsCode": "// Get embedding from Voyage-3 Embeddings node\n// const embedding = $('ccc').first().json.data[0].embedding;\nconst embedding = $('OpenAI-te3-large-embeddings').first().json.data[0];\nconsole.log(embedding)\n// const embedding = embeddingtemp.data[0].embedding;\n// console.log(embedding)\n\n\n// List of embedding nodes in priority order\n// const embeddingNodes = [\n//   'OpenAI-te3s-embeddings',\n//   'OpenAI-te3LARGE-embeddings',\n//   'Voyage-3 Embeddings DOCS',\n//   'Voyage-3 Embeddings QUERY',\n//   'Voyage-3-Context Embeddings QUERY'\n// ];\n\n// // Find the first active node\n// let embedding = null;\n// for (const name of embeddingNodes) {\n//   console.log(name)\n//   try {\n//     const node = $(name);\n//     const data = node.first().json.data?.[0]?.embedding;\n//     if (data) {\n//       embedding = data;\n//       break;\n//     }\n//   } catch (e) {\n//     // Node not executed or inaccessible — skip it\n//   }\n// }\n\n\n// Handle case where no nodes are active (optional fallback)\nif (!embedding) {\n  throw new Error('No active embedding nodes found!');\n}\n\n\n// Use \"embedding\" in your script from this point onward\n// Get parameters from Set Parameters node\n// const numCandidates = parseInt($('Set Parameters2').first().json.numCandidates) || 100;\n// const limit = parseInt($('Set Parameters2').first().json.limit) || 20;\nconsole.log(embedding)\n// Build the aggregation pipeline\nconst pipeline = [\n  {\n    \"$vectorSearch\": {\n      \"index\": \"vector_index_3\",\n      \"path\": \"embedding\",\n      \"queryVector\": embedding,\n      \"numCandidates\": parseInt($('Set Parameters2').first().json.numCandidates) || 100,\n      \"limit\": parseInt($('Set Parameters2').first().json.limit) || 20\n    }\n  },\n  {\n    \"$project\": {\n      \"text\": 1,\n      \"metadata\": 1,\n      \"binary\": 1,\n      \"document_id\": 1,\n      \"chunk_index\": 1,\n      \"score\": { \"$meta\": \"vectorSearchScore\" }\n    }\n  }\n];\n\n// Return the pipeline\nreturn [{\n  json: {\n    pipeline: pipeline\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        992
      ],
      "id": "695e7c84-3dbb-4890-9fa4-4075bb9bb672",
      "name": "Build Mongo Query1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d06cbb6d-f674-4048-81a2-d9f6777fd5e4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -752,
        1168
      ],
      "id": "116775d6-4dca-4fd7-b803-1e06a226fbaf",
      "name": "Webhook",
      "webhookId": "d06cbb6d-f674-4048-81a2-d9f6777fd5e4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Serving Phase\n\n1. Chat Webhook Trigger\n2. Embed in Voyage-3-Context\n3. Identify chunks that belong to PREVIOUS version of document",
        "height": 736,
        "width": 2128,
        "color": 4
      },
      "id": "d226fc7f-af66-4b05-9420-bb1d435700f5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "U8cIQUisC2NJ7Rbs",
          "mode": "list",
          "cachedResultName": "broenbot-query-cache",
          "cachedResultUrl": "/projects/LC2btgrC94ito5wQ/datatables/U8cIQUisC2NJ7Rbs"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "query_raw",
              "keyValue": "={{ $json.query_raw }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        784,
        1712
      ],
      "id": "6c64edd5-4c27-4a38-8352-d2851003887e",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data[0].data[0].embedding",
        "options": {
          "destinationFieldName": "query_embed_voyage3context"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        1712
      ],
      "id": "5be324e9-bc92-4ce0-a8d3-67235817eb5b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.chatInput",
        "options": {
          "destinationFieldName": "query_raw"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        1872
      ],
      "id": "38d08561-7aa8-43d1-a0a2-526a66a3c6d8",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {
          "destinationFieldName": "answer"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        1552
      ],
      "id": "28dab87c-26aa-4241-be03-6d5799632364",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1b73700-f6bc-493c-a379-c344314c2e67",
              "name": "body.chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        1872
      ],
      "id": "fe91caab-3043-4a52-81b7-6e877b3aebee",
      "name": "Isolate Raw Query"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd4c8b86-19d9-4302-924b-ff15f9a22807",
              "name": "data[0].data[0].embedding",
              "value": "={{ $json.data[0].data[0].embedding }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        1712
      ],
      "id": "8aa17ceb-8957-4fb5-bc93-a7b42b279c97",
      "name": "Isolate Embedding Array"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4fad8d39-cafd-4045-9cac-0c260713cd5d",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        1552
      ],
      "id": "de2ccbc9-4592-482a-87b0-0b5f21d8c001",
      "name": "Isolate Answer"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        1696
      ],
      "id": "d2b9a14d-e4a5-4a0e-af0a-79e47cc9ac79",
      "name": "Merge2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "U8cIQUisC2NJ7Rbs",
          "mode": "list",
          "cachedResultName": "broenbot-query-cache",
          "cachedResultUrl": "/projects/LC2btgrC94ito5wQ/datatables/U8cIQUisC2NJ7Rbs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "avg_user_rating": 0,
            "query_raw": "={{ $json.query_raw }}",
            "answer": "={{ $json.answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query_raw",
              "displayName": "query_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "query_embed_voyage3context",
              "displayName": "query_embed_voyage3context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "answer",
              "displayName": "answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "avg_user_rating",
              "displayName": "avg_user_rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        992,
        1712
      ],
      "id": "fa549e6a-9dba-4ec7-ba2a-df93c390ccd4",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "U8cIQUisC2NJ7Rbs",
          "mode": "list",
          "cachedResultName": "broenbot-query-cache",
          "cachedResultUrl": "/projects/LC2btgrC94ito5wQ/datatables/U8cIQUisC2NJ7Rbs"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "query_raw",
              "keyValue": "={{ $json.query_raw }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        784,
        1920
      ],
      "id": "9781f663-a091-412c-b6d0-ffaad7b42a0d",
      "name": "If row exists"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d413370-5135-4d88-ad7a-4ac50e698772",
        "authentication": "jwtAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        784,
        1552
      ],
      "id": "50a5cd21-064c-45a7-b513-53cba213a577",
      "name": "FeedbackCollector",
      "webhookId": "4d413370-5135-4d88-ad7a-4ac50e698772",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "U8cIQUisC2NJ7Rbs",
          "mode": "list",
          "cachedResultName": "broenbot-query-cache",
          "cachedResultUrl": "/projects/LC2btgrC94ito5wQ/datatables/U8cIQUisC2NJ7Rbs"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "query_raw",
              "keyValue": "={{ $json.query_raw }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        992,
        1920
      ],
      "id": "ed1caf28-be12-4063-a226-73853edcb7b7",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {
          "destinationFieldName": "answer"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1200,
        1920
      ],
      "id": "425a723d-4dec-427f-bd9d-4b318c17cce1",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "model": "gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1504,
        816
      ],
      "id": "1062aa4b-2426-44c6-a1d4-257fabd580de",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hrZJGHtULrkAsN59",
          "name": "Azure Open AI account (te3l)"
        }
      }
    },
    {
      "parameters": {},
      "id": "dc67d380-485b-4251-b349-7313295ea292",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "position": [
        -192,
        176
      ],
      "notesInFlow": false,
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "OO3MhN76ht0Y2PiY",
          "name": "Postgres CosmosDB (Docs)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json?.chatInput || $json.body.chatInput }}"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}"
            }
          ]
        },
        "options": {}
      },
      "id": "408abff9-ea1b-4f40-a1a2-e447282b69b1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -336,
        -48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the users asks you to check a document or the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."
        }
      },
      "id": "e73d315e-80b1-4f04-abe7-5f2280351f61",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -112,
        -48
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "document_metadata",
          "cachedResultName": "document_metadata"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "3847b18b-1288-4be9-9161-21596fca2e96",
      "name": "List Documents",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        -64,
        176
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OO3MhN76ht0Y2PiY",
          "name": "Postgres CosmosDB (Docs)"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Given a file ID, fetches the text from the document.",
        "operation": "executeQuery",
        "query": "SELECT \n    string_agg(text, ' ') as document_text\nFROM documents_pg\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
        "options": {
          "queryReplacement": "={{ $fromAI('file_id') }}"
        }
      },
      "id": "2cc025d2-91c1-49f4-8cd2-2705a0ba3ac8",
      "name": "Get File Contents",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        80,
        176
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OO3MhN76ht0Y2PiY",
          "name": "Postgres CosmosDB (Docs)"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run a SQL query - use this to query from the document_rows table once you know the file ID (which is the file path) you are querying. dataset_id is the file_id (file path) and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '/data/shared/document.csv';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '/data/shared/document2.csv'\nGROUP BY row_data->>'category';",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_query') }}",
        "options": {}
      },
      "id": "c078323d-a184-485e-b373-37b3490170c0",
      "name": "Query Document Rows",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        240,
        176
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OO3MhN76ht0Y2PiY",
          "name": "Postgres CosmosDB (Docs)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "Use RAG to look up information in the knowledgebase.",
        "tableName": "documents_pg",
        "useReranker": true,
        "options": {}
      },
      "id": "75d851cc-2c1f-4f7a-b9cc-91a6e02c32c9",
      "name": "Postgres PGVector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        560,
        -48
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "OO3MhN76ht0Y2PiY",
          "name": "Postgres CosmosDB (Docs)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1bc829c1-90d6-4d19-9330-67e40edd87d6",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        224,
        -48
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7315c4c3-8d1c-4719-afff-c3c8ab3fc1e8",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -624,
        144
      ],
      "webhookId": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
      "typeVersion": 2,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);",
        "options": {}
      },
      "id": "7d220627-c400-4de6-a317-ba25b0d4a5c1",
      "name": "Create Document Metadata Table",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -4544,
        32
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OqUKtCIvF2JXBN3M",
          "name": "Postgres Cosmos Account (Admin)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);",
        "options": {}
      },
      "id": "0f496a05-a24b-404c-9775-5afb7c1afbd9",
      "name": "Create Document Rows Table (for Tabular Data)",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -4240,
        32
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OqUKtCIvF2JXBN3M",
          "name": "Postgres Cosmos Account (Admin)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Run Each Node Once to Set Up Database Tables",
        "height": 300,
        "width": 680,
        "color": 3
      },
      "id": "23f4ba9f-0a9e-4017-81e3-564ee0bc92e2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4672,
        -64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://regent-ai-dev.cognitiveservices.azure.com/openai/deployments/text-embedding-3-large/embeddings?api-version=2023-05-15",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "azureOpenAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-large\",\n  \"input\": {{JSON.stringify($json.chatInput)}},\n  \"dimensions\": 1024,\n  \"encoding_format\": \"float\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        672
      ],
      "id": "071d84f3-4fd8-4396-b4b5-321a2e02d811",
      "name": "OpenAI-te3-large-embeddings",
      "credentials": {
        "httpBearerAuth": {
          "id": "i788jgDZYGtfKAjy",
          "name": "Bearer Auth account"
        },
        "azureOpenAiApi": {
          "id": "hrZJGHtULrkAsN59",
          "name": "Azure Open AI account (te3l)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{JSON.stringify($json.chatInput)}},\n  \"dimensions\": 1024,\n  \"encoding_format\": \"float\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        832
      ],
      "id": "830e24a9-82aa-49c1-bd15-86923998f0e6",
      "name": "OpenAI-te3-small-embeddings",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://Cohere-rerank-v3-5-yaajk.swedencentral.models.ai.azure.com/v1/rerank",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        752
      ],
      "id": "508df87a-8816-44fb-81b1-117a5f036c3b",
      "name": "Cohere Reranker3",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hrZJGHtULrkAsN59",
          "name": "Azure Open AI account (te3l)"
        },
        "httpBearerAuth": {
          "id": "fxDBrgZOXoPPIw7s",
          "name": "AzureCohere3.5-Auth"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -368,
        384
      ],
      "id": "d0f23507-c6d6-4087-8553-26a2055f71c1",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hrZJGHtULrkAsN59",
          "name": "Azure Open AI account (te3l)"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "aa529419-f9d3-4364-8464-18f2f5d88c26",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1136,
        336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "a81bdee0-9729-4f14-973d-9fd1d49f3fc8",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -1936,
        336
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "type": "string",
              "value": "={{ $json.path }}"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "type": "string",
              "value": "={{ $json.path.split(/[\\\\/]/).pop().split('.').pop(); }}"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "type": "string",
              "value": "={{ $json.path.split(/[\\\\/]/).pop().split('.').slice(0, -1).join('.'); }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08de07cf-4b6b-4332-95c5-e1f1ca67e9b2",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "position": [
        -3456,
        16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "437f683e-d65e-45e6-894f-39f64ff04616",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -1936,
        -224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "2310c6a0-b0fb-4851-971d-152077666948",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -1904,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "ae6ec19f-e863-40d9-a278-9dd9d584cf46",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "position": [
        -1696,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "pdf"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "xlsx"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "=csv"
                  }
                ]
              }
            },
            {
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                    "rightValue": "txt"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "9e322603-6b7f-4a85-9a1b-986f39717e9c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -2608,
        0
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "e2bbe083-cddb-4a12-a5cb-01073cf4dcec",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -2128,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "type": "string",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "type": "string",
              "value": "={{ $json.concatenated_data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c4a3ceb7-fb0f-4a30-bf88-9942f2d10a4d",
      "name": "Set Schema",
      "type": "n8n-nodes-base.set",
      "position": [
        -1264,
        -96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "84e2f3af-ef0f-44b4-be7c-2a149cea81d4",
      "name": "Extract from CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -2128,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "07f11166-8aa6-466b-be77-268a0693d11b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -3648,
        -144
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "document_metadata",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "title": "={{ $('Set File ID').item.json.file_title }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "schema",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6769ea8b-adb7-417e-b165-868e49348820",
      "name": "Insert Document Metadata",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -2960,
        -112
      ],
      "executeOnce": true,
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OqUKtCIvF2JXBN3M",
          "name": "Postgres Cosmos Account (Admin)"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "document_rows",
          "cachedResultName": "document_rows"
        },
        "columns": {
          "value": {
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}",
            "dataset_id": "={{ $('Set File ID').item.json.file_id }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "dataset_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "dataset_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "type": "object",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "row_data",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "06776de6-604a-482e-a22a-108293ba4e9c",
      "name": "Insert Table Rows",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1904,
        144
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OqUKtCIvF2JXBN3M",
          "name": "Postgres Cosmos Account (Admin)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "document_metadata",
          "cachedResultName": "document_metadata"
        },
        "columns": {
          "value": {
            "id": "={{ $('Set File ID').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": true,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "schema",
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d19c11fc-10bb-43d6-9d25-22ef724ce8e3",
      "name": "Update Schema for Document Metadata",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -1040,
        -96
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OqUKtCIvF2JXBN3M",
          "name": "Postgres Cosmos Account (Admin)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Set File ID').item.json.file_id }}",
        "options": {
          "dataPropertyName": "=data"
        }
      },
      "id": "82497479-6173-4c15-be88-92424c74afec",
      "name": "Read/Write Files from Disk",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [
        -2800,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 128,
        "options": {}
      },
      "id": "baa0d2b1-ab08-4d70-acc0-8a5ccbbbe331",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1248,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents_pg') THEN\n        EXECUTE 'DELETE FROM documents_pg WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;",
        "options": {
          "queryReplacement": "={{ $json.file_id }}"
        }
      },
      "id": "cacc9844-b165-45b7-a28a-cba5c1d0357f",
      "name": "Delete Old Doc Records",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -3280,
        -112
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OqUKtCIvF2JXBN3M",
          "name": "Postgres Cosmos Account (Admin)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM document_rows\nWHERE dataset_id LIKE '%' || $1 || '%';",
        "options": {
          "queryReplacement": "={{ $('Set File ID').item.json.file_id }}"
        }
      },
      "id": "97087ed4-767b-440f-a885-49f867393026",
      "name": "Delete Old Data Records",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -3120,
        16
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "OqUKtCIvF2JXBN3M",
          "name": "Postgres Cosmos Account (Admin)"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "documents_pg",
        "options": {}
      },
      "id": "a8fb676f-fc2e-45b0-83f4-d13b7ee581af",
      "name": "Postgres PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "position": [
        -1264,
        128
      ],
      "typeVersion": 1,
      "credentials": {
        "postgres": {
          "id": "OO3MhN76ht0Y2PiY",
          "name": "Postgres CosmosDB (Docs)"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 1632,
        "width": 3504,
        "color": 4
      },
      "id": "81bf8a5c-dcfe-43bb-ad24-f249cb5a55b2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "batchSize": 8,
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -1360,
        320
      ],
      "id": "e0b55fce-02d2-4234-9221-0ea7d18044bd",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "hrZJGHtULrkAsN59",
          "name": "Azure Open AI account (te3l)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        -992
      ],
      "id": "276108ad-dcc6-4804-9f21-4f08ddca761e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "item",
        "site": {
          "__rl": true,
          "value": "8b98f004-97ff-4905-839b-dc1476c52fc6",
          "mode": "id"
        },
        "list": {
          "__rl": true,
          "value": "01PB4ECUYHZT4UGOB4C5B3CHP7QPVFLUGF",
          "mode": "id"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        -3456,
        -992
      ],
      "id": "6bd29591-aa8d-45e4-8c7e-0883748991e3",
      "name": "Get many items",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "0qcIyq7sW6W2VgLY",
          "name": "Microsoft SharePoint (GlobalEvo-Regent-SSOT-Files)"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://Cohere-rerank-v3-5-yaajk.swedencentral.models.ai.azure.com/v1/rerank"
      },
      "type": "CUSTOM.azureCohereRerank",
      "typeVersion": 1,
      "position": [
        720,
        144
      ],
      "id": "8eaf5b12-c80c-46ea-a70b-dbeff0f121e2",
      "name": "Azure Cohere Rerank",
      "credentials": {
        "httpBearerAuth": {
          "id": "fxDBrgZOXoPPIw7s",
          "name": "AzureCohere3.5-Auth"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "batchSize": 5,
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        448,
        272
      ],
      "id": "9f54dbd4-fb85-43b4-9788-6fd2c211cf08",
      "name": "Embeddings Azure OpenAI TE3L",
      "credentials": {
        "azureOpenAiApi": {
          "id": "rQHudjv0wOmMUWui",
          "name": "Azure Open AI (RegentAIDev+JDM)"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "batchSize": 5,
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        640,
        304
      ],
      "id": "9896a08c-0770-469e-9868-4f1fd4f11b6f",
      "name": "Embeddings Azure OpenAI1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "rQHudjv0wOmMUWui",
          "name": "Azure Open AI (RegentAIDev+JDM)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -368,
        160
      ],
      "id": "3d744cdc-18f0-48b7-bcc1-a58b7b181ca8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "c5LtuOgSWHYxkJvB",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Build Mongo Query1": [
      {
        "json": {
          "pipeline": [
            {
              "$vectorSearch": {
                "index": "vector_index_3",
                "path": "embedding",
                "queryVector": {
                  "object": "embedding",
                  "index": 0,
                  "embedding": [
                    0.020723552,
                    -0.035775647,
                    -0.030271702,
                    -0.023643035,
                    0.028022263,
                    0.04092064,
                    -0.04472554,
                    0.04692712,
                    -0.008949894,
                    0.049870536,
                    -0.023834478,
                    -0.013771829,
                    -0.07073767,
                    -0.01081645,
                    -0.00042812622,
                    -0.03015205,
                    0.006365433,
                    0.019060403,
                    0.01114549,
                    0.023475524,
                    -0.06025624,
                    -0.009649852,
                    0.025629243,
                    -0.03120498,
                    0.0067842114,
                    0.006867967,
                    -0.01696651,
                    0.0076756114,
                    -0.10366562,
                    0.026873613,
                    0.011019857,
                    0.045419518,
                    -0.0006726629,
                    -0.00933876,
                    0.016344326,
                    0.03627818,
                    -0.017014371,
                    0.006221852,
                    0.027400078,
                    -0.03472272,
                    -0.0051958445,
                    0.0038228491,
                    -0.046616025,
                    0.014118818,
                    -0.019790275,
                    -0.011001909,
                    -0.012324052,
                    0.072460644,
                    -0.021836307,
                    0.006766264,
                    0.05034914,
                    0.039149806,
                    0.02541387,
                    0.06389363,
                    -0.024468629,
                    0.08284635,
                    0.035512414,
                    0.03876692,
                    0.029123051,
                    -0.008279849,
                    -0.0045347726,
                    -0.010104527,
                    -0.006431241,
                    0.088350296,
                    0.014370084,
                    -0.062218517,
                    0.0006094722,
                    0.033574067,
                    -0.005309513,
                    0.09457214,
                    0.021465389,
                    -0.063510746,
                    -0.01442991,
                    0.058820426,
                    0.0676746,
                    0.006694473,
                    0.017325465,
                    0.032401487,
                    -0.0037899453,
                    0.027926542,
                    0.021381633,
                    0.011606147,
                    0.025054919,
                    -0.030965677,
                    -0.014214538,
                    0.007908931,
                    -0.045993842,
                    -0.09217913,
                    0.026275357,
                    -0.012730866,
                    0.029553795,
                    0.048721883,
                    -0.0030286657,
                    -0.041877847,
                    -0.011001909,
                    -0.0014253424,
                    0.03508167,
                    -0.0062756944,
                    -0.0026218523,
                    0.027017195,
                    -0.034411624,
                    -0.0033352715,
                    0.0203646,
                    -0.05427369,
                    0.016607558,
                    0.075380124,
                    -0.03500988,
                    0.019670622,
                    -0.010295968,
                    -0.03745076,
                    -0.03400481,
                    0.031133188,
                    0.06824893,
                    -0.030869957,
                    -0.008638802,
                    0.03484237,
                    -0.042858984,
                    -0.016511837,
                    -0.026036056,
                    -0.019108264,
                    0.025557453,
                    0.030199911,
                    -0.037761852,
                    -0.08567011,
                    -0.007890983,
                    0.0028805977,
                    0.012587285,
                    0.06824893,
                    -0.0211184,
                    0.010331864,
                    -0.03606281,
                    -0.030199911,
                    -0.015913581,
                    0.026730033,
                    0.03134856,
                    0.0074841697,
                    0.059777636,
                    0.0529336,
                    0.046496376,
                    0.05144993,
                    0.010092561,
                    -0.002116327,
                    -0.036948226,
                    -0.039317317,
                    0.006748316,
                    -0.035153463,
                    0.06829679,
                    0.032569,
                    0.010427584,
                    0.047645025,
                    -0.05537448,
                    -0.023068711,
                    -0.024372907,
                    0.039532688,
                    -0.013712004,
                    0.041542824,
                    0.0048967167,
                    0.017253673,
                    -0.04826721,
                    -0.020699622,
                    -0.041447103,
                    0.06245782,
                    0.019586867,
                    -0.03261686,
                    -0.027280426,
                    -0.0123001225,
                    0.030846026,
                    -0.046568166,
                    -0.031061398,
                    0.07542799,
                    -0.013448772,
                    0.013197505,
                    0.007998669,
                    0.019610798,
                    -0.030893886,
                    0.01391541,
                    0.020041542,
                    0.031898953,
                    -0.012186454,
                    0.076720215,
                    -0.024528453,
                    0.0113907745,
                    0.013412876,
                    -0.025677104,
                    0.027065055,
                    -0.024301117,
                    0.04793219,
                    0.0028117984,
                    -0.03029563,
                    -0.08121909,
                    0.008441377,
                    -0.015925547,
                    -0.016416116,
                    -0.0013886993,
                    0.03165965,
                    -0.004768092,
                    -0.025748894,
                    -0.0109540485,
                    -0.026777891,
                    -0.027376147,
                    -0.0053244694,
                    -0.017720312,
                    -0.0067842114,
                    0.015638385,
                    0.010074614,
                    0.016475942,
                    -0.0061560436,
                    -0.0012181967,
                    -0.010619026,
                    -0.012174489,
                    0.019742414,
                    0.010038719,
                    -0.03871906,
                    -0.060160518,
                    0.067913905,
                    -0.014932444,
                    -0.026706101,
                    0.0017394263,
                    -0.0098951375,
                    0.008764436,
                    0.009326795,
                    0.012730866,
                    0.0842343,
                    0.055996664,
                    -0.045347728,
                    -0.013101784,
                    0.019299705,
                    -0.023032816,
                    0.032401487,
                    0.03838404,
                    -0.016045198,
                    -0.0105592,
                    0.030558864,
                    0.026275357,
                    -0.052550714,
                    -0.020663727,
                    -0.061883494,
                    0.0026577476,
                    -0.041949637,
                    0.04568275,
                    0.033382628,
                    0.052742157,
                    -0.053699367,
                    -0.000119183605,
                    0.012312087,
                    0.033430487,
                    0.030080259,
                    -0.06509014,
                    -0.003733111,
                    -0.10529287,
                    -0.0058030733,
                    0.011624094,
                    0.023248188,
                    0.05207211,
                    0.073178545,
                    0.049822673,
                    0.032569,
                    0.029362354,
                    -0.0011508929,
                    -0.0006678021,
                    0.025701033,
                    0.0022643951,
                    -0.016416116,
                    -0.025629243,
                    0.014358119,
                    -0.039365176,
                    -0.04221287,
                    -0.035751715,
                    0.016739175,
                    0.0010536766,
                    0.0010686329,
                    0.04214108,
                    -0.0025724964,
                    -0.012467634,
                    -0.03977199,
                    -0.018246777,
                    -0.014752967,
                    -0.013424842,
                    -0.0040741162,
                    0.038958363,
                    -0.04218894,
                    -0.009123389,
                    -0.022422597,
                    0.014860653,
                    0.03871906,
                    -0.027854752,
                    -0.013376981,
                    0.008052512,
                    -0.018366428,
                    -0.007065391,
                    0.003724137,
                    -0.037857573,
                    0.034124464,
                    -0.03149214,
                    0.00868068,
                    0.034483418,
                    0.014358119,
                    0.0017184874,
                    0.05034914,
                    -0.014011132,
                    -0.025629243,
                    -0.025892476,
                    -0.03838404,
                    -0.053507924,
                    0.030319562,
                    0.019144159,
                    0.025126709,
                    0.07198204,
                    -0.0037061896,
                    -0.028548727,
                    0.031181049,
                    -0.019180054,
                    -0.044246938,
                    0.028213704,
                    -0.06375005,
                    0.026107846,
                    0.02285334,
                    0.022793515,
                    -0.04206929,
                    -0.026036056,
                    -0.0022060652,
                    0.050109837,
                    -0.046568166,
                    0.00692181,
                    0.044031564,
                    0.04939193,
                    0.030415282,
                    0.035201322,
                    -0.04920049,
                    -0.019503111,
                    -0.048674025,
                    0.0216329,
                    0.0067961765,
                    -0.041614614,
                    -0.010110509,
                    0.0008547568,
                    0.0034788526,
                    0.08605299,
                    -0.0113907745,
                    0.011917239,
                    -0.00045729114,
                    -0.042739335,
                    0.027112914,
                    0.027447937,
                    -0.08394714,
                    0.0025964265,
                    0.016475942,
                    -0.042571824,
                    0.021896131,
                    -0.0037181545,
                    0.00078820094,
                    -0.025772823,
                    -0.0034638962,
                    0.02109447,
                    0.026155706,
                    -0.018581798,
                    0.0127189,
                    -0.024025919,
                    0.020807307,
                    0.05996908,
                    -0.0052646436,
                    -0.01114549,
                    -0.0093866205,
                    -0.010738676,
                    0.06729172,
                    0.033071533,
                    0.117832296,
                    0.0056594918,
                    -0.04573061,
                    0.009966928,
                    -0.04314615,
                    0.009590027,
                    -0.026131777,
                    0.044223007,
                    0.026012126,
                    -0.018557869,
                    -0.05168923,
                    -0.019215949,
                    -0.029864889,
                    -0.0062996247,
                    0.007741419,
                    -0.01696651,
                    0.030199911,
                    -0.03730718,
                    0.0017588696,
                    0.014238468,
                    0.024360942,
                    -0.024253257,
                    0.011079682,
                    0.024600245,
                    -0.028453005,
                    -0.041471034,
                    0.02236277,
                    0.052167833,
                    0.027352218,
                    0.017720312,
                    0.038025085,
                    -0.057671778,
                    0.04802791,
                    -0.016511837,
                    0.01447777,
                    -0.017253673,
                    0.03838404,
                    -0.023104606,
                    -0.013197505,
                    0.0022389693,
                    -0.03144428,
                    -0.07370501,
                    -0.00020247191,
                    0.010403654,
                    0.00040905684,
                    -0.018641625,
                    0.009482341,
                    0.024241291,
                    -0.012659075,
                    0.016571663,
                    0.0407292,
                    0.014382049,
                    0.03845583,
                    -0.017157953,
                    0.021166261,
                    -0.012898377,
                    0.0098951375,
                    -0.03254507,
                    0.004124968,
                    0.012706935,
                    0.01621271,
                    0.01872538,
                    -0.038288318,
                    -0.06264926,
                    0.008339674,
                    -0.014322224,
                    -0.0021103444,
                    0.029769167,
                    -0.034459487,
                    -0.06298428,
                    0.038910504,
                    -0.055757362,
                    -0.00041877848,
                    0.023379805,
                    0.026155706,
                    -0.04182999,
                    -0.00997291,
                    -0.037713993,
                    -0.05159351,
                    -0.006520979,
                    -0.0051210625,
                    -0.01030195,
                    0.004259575,
                    0.05456085,
                    0.017792102,
                    0.032808304,
                    0.016164849,
                    -0.08571797,
                    -0.027112914,
                    0.0032066465,
                    0.009907102,
                    0.015315327,
                    0.019993681,
                    -0.0066406303,
                    0.0024782713,
                    0.041782126,
                    0.053842947,
                    -0.0030511003,
                    -0.03352621,
                    -0.054800157,
                    -0.01621271,
                    0.034459487,
                    -0.00019200245,
                    0.0097515555,
                    0.0076217684,
                    0.052263554,
                    -0.05417797,
                    -0.0066346475,
                    0.04472554,
                    -0.06628665,
                    0.012006978,
                    0.0022987947,
                    -0.07767742,
                    0.023236223,
                    0.03759434,
                    0.017528871,
                    -0.083899274,
                    -0.009572079,
                    -0.008866139,
                    0.037163597,
                    0.026012126,
                    0.00019499373,
                    -0.027854752,
                    0.029338423,
                    0.076863796,
                    0.03252114,
                    -0.012563354,
                    -0.047668956,
                    0.031635724,
                    0.0025889485,
                    -0.057432476,
                    -0.021752551,
                    -0.011492478,
                    0.00028435807,
                    0.008758453,
                    0.016739175,
                    0.023583211,
                    0.0010753633,
                    0.0109899435,
                    0.017492976,
                    -0.015387118,
                    0.056331687,
                    -0.008764436,
                    -0.02048425,
                    0.010409636,
                    0.0010574156,
                    -0.032162186,
                    -0.037546482,
                    -0.0073286234,
                    0.0130299935,
                    0.011713833,
                    0.01645201,
                    -0.015985373,
                    -0.003733111,
                    -0.018186951,
                    -0.008064477,
                    0.0010432071,
                    -0.038025085,
                    -0.027902612,
                    0.0016766095,
                    -0.014836723,
                    -0.008357622,
                    0.018821102,
                    -0.029458074,
                    -0.028835889,
                    0.028117983,
                    0.0144538395,
                    -0.024887407,
                    0.025007058,
                    0.020244949,
                    -0.026083916,
                    0.01630843,
                    -0.016272536,
                    -0.03266472,
                    -0.020855168,
                    0.0041100117,
                    0.061787773,
                    -0.0132334,
                    -0.03742683,
                    0.012754796,
                    0.023427665,
                    -0.0478604,
                    -0.013604318,
                    0.0470707,
                    0.0075380127,
                    0.06327145,
                    -0.025605312,
                    0.002470793,
                    0.10395278,
                    0.0063056075,
                    0.015734106,
                    0.012240296,
                    -0.005746239,
                    0.0041877846,
                    0.041806057,
                    0.020101367,
                    0.033071533,
                    0.021752551,
                    -0.018521974,
                    0.0145974215,
                    -0.022889234,
                    0.04458196,
                    0.024576314,
                    -0.0110617345,
                    -0.018043369,
                    0.010738676,
                    0.0029090147,
                    -0.05058844,
                    -0.007400414,
                    0.0033023674,
                    0.0039754044,
                    -0.010194264,
                    -0.014609386,
                    -0.04343331,
                    0.0052796,
                    0.010858327,
                    -0.023475524,
                    -0.0063953456,
                    0.0031198997,
                    0.0041070203,
                    0.07102483,
                    -0.020783378,
                    -0.047621094,
                    0.007687576,
                    -0.053890806,
                    0.0009931033,
                    -0.0042924793,
                    0.0073286234,
                    0.010720729,
                    -0.0055248844,
                    -0.0129223075,
                    0.04362475,
                    0.0049894466,
                    -0.036637135,
                    -0.021106435,
                    0.005593684,
                    0.047573235,
                    -0.054512993,
                    -0.011881344,
                    0.021309841,
                    0.05901187,
                    -0.011624094,
                    0.008878103,
                    -0.004845865,
                    0.02651466,
                    -0.04101636,
                    -0.008004651,
                    0.026753962,
                    0.0062936423,
                    -0.011809553,
                    -0.015171746,
                    -0.010266055,
                    -0.02109447,
                    0.041088153,
                    0.005198836,
                    -0.019144159,
                    0.005369338,
                    -0.011259158,
                    0.01931167,
                    0.026777891,
                    -0.014310258,
                    -0.0041070203,
                    -0.0016137927,
                    0.009159284,
                    -0.02639501,
                    -0.0129223075,
                    -0.011671955,
                    0.021477353,
                    0.029960608,
                    0.0052796,
                    0.020496216,
                    -0.018414287,
                    -0.011229246,
                    0.029864889,
                    0.0010566679,
                    -0.03252114,
                    0.0061141658,
                    -0.104335666,
                    -0.034985952,
                    -0.034483418,
                    0.03735504,
                    0.047357865,
                    -0.0132334,
                    0.037115738,
                    -0.011630077,
                    0.012730866,
                    -0.032569,
                    0.021884166,
                    -0.022745654,
                    -0.018713415,
                    -0.032018606,
                    -0.005683422,
                    -0.036517482,
                    0.01053527,
                    -0.06384577,
                    -0.02517457,
                    0.012563354,
                    -0.06341503,
                    0.0039215614,
                    0.013771829,
                    -0.023355873,
                    -0.007908931,
                    -0.012234314,
                    0.008178146,
                    -0.040537756,
                    -0.0121565405,
                    -0.023990024,
                    -0.008112337,
                    0.00997291,
                    -0.0065030316,
                    0.03989164,
                    -0.0478604,
                    -0.0603041,
                    -0.009302865,
                    0.019503111,
                    -0.04692712,
                    0.017851928,
                    -0.007950809,
                    0.023583211,
                    -0.0015808888,
                    -0.018510008,
                    0.028476937,
                    -0.026706101,
                    -0.030558864,
                    0.0024034893,
                    -0.011438635,
                    -0.003601495,
                    -0.021884166,
                    -0.043505102,
                    0.034531277,
                    -0.041949637,
                    -0.03024777,
                    -0.025653172,
                    0.017397255,
                    -0.02541387,
                    -0.05886829,
                    -0.02881196,
                    -0.00090934755,
                    -0.0007650185,
                    0.00080913986,
                    0.014860653,
                    0.0128505165,
                    -0.016595593,
                    -0.042332523,
                    -0.012150559,
                    -0.004792022,
                    -0.025796754,
                    0.034626998,
                    -0.014513666,
                    0.033406556,
                    -0.0028387199,
                    -0.0123001225,
                    -0.014274363,
                    0.0117557105,
                    0.005572745,
                    0.028716238,
                    -0.03981985,
                    0.021979887,
                    0.019790275,
                    0.002923971,
                    0.04817149,
                    -0.0100447005,
                    -0.009326795,
                    -0.021991853,
                    0.025007058,
                    -0.028668378,
                    -0.036445692,
                    0.017648522,
                    -0.029673446,
                    0.020579971,
                    0.021896131,
                    -0.00066032395,
                    -0.0024348977,
                    -0.02043639,
                    0.004639467,
                    -0.059346892,
                    -0.019048437,
                    -0.004361279,
                    0.00227636,
                    -0.0022195259,
                    -0.027424008,
                    0.011456583,
                    -0.0061022006,
                    -0.029793097,
                    -0.0056953873,
                    -0.05221569,
                    0.027208636,
                    0.0016586619,
                    -0.021525213,
                    0.03500988,
                    -0.0025590356,
                    -0.016057163,
                    -0.011289071,
                    -0.023451595,
                    -0.03599102,
                    0.012790691,
                    -0.027543658,
                    -0.018617695,
                    -0.0137957595,
                    -0.03620639,
                    -0.018809136,
                    0.013400911,
                    -0.03266472,
                    -0.028764099,
                    0.033406556,
                    -0.034315906,
                    0.011139507,
                    -0.07212562,
                    0.006009471,
                    0.001344578,
                    0.0029523883,
                    0.012102698,
                    -0.0074602393,
                    -0.035703856,
                    -0.057528198,
                    0.025198499,
                    -0.005465059,
                    -0.005204818,
                    0.017875858,
                    -0.014058991,
                    0.025389941,
                    0.0150162,
                    0.017074198,
                    -0.0066884905,
                    -0.013544492,
                    0.019371497,
                    0.041327454,
                    -0.0011441626,
                    0.05298146,
                    -0.023272118,
                    0.009907102,
                    0.008525133,
                    0.0028147895,
                    0.008088407,
                    0.034411624,
                    -0.039389107,
                    -0.011432652,
                    0.005614623,
                    -0.028476937,
                    -0.0013827168,
                    0.02095089,
                    -0.014956374,
                    -0.027878681,
                    0.025677104,
                    -0.031851094,
                    0.015949477,
                    0.01992189,
                    0.05331648,
                    -0.012766761,
                    -0.009003737,
                    -0.0009048606,
                    0.000631159,
                    0.016559698,
                    0.01623664,
                    0.01618878,
                    0.014944409,
                    0.018821102,
                    0.03137249,
                    0.0025919396,
                    -0.035608135,
                    0.10002823,
                    0.06355861,
                    0.010654921,
                    0.031109259,
                    0.017157953,
                    0.018043369,
                    0.008489238,
                    0.004142916,
                    0.014741003,
                    0.018462148,
                    -0.034100533,
                    -0.014800828,
                    0.01572214,
                    0.036493555,
                    -0.0025007057,
                    -0.059634056,
                    0.06370219,
                    0.008291814,
                    0.0033711668,
                    -0.014932444,
                    -0.067626745,
                    -0.04101636,
                    0.04551524,
                    -0.034579135,
                    -0.019586867,
                    0.033334766,
                    0.011067716,
                    -0.033191185,
                    -0.014549561,
                    -0.009685748,
                    -0.011372827,
                    -0.041782126,
                    0.035919227,
                    0.02353535,
                    0.01813909,
                    0.019156124,
                    -0.0290034,
                    -0.025748894,
                    -0.031803235,
                    -0.0150162,
                    0.049056906,
                    -0.0061231395,
                    0.019957786,
                    0.029649517,
                    -0.02885982,
                    0.0033442453,
                    -0.035560276,
                    -0.010367759,
                    -0.0007994182,
                    0.019670622,
                    -0.015937513,
                    0.009727626,
                    0.025557453,
                    0.003864727,
                    -0.0458024,
                    -0.03228184,
                    -0.02893161,
                    0.0203646,
                    0.06250568,
                    -0.016404152,
                    -0.01325733,
                    -0.017564766,
                    -0.0072269198,
                    0.00046551714,
                    -0.016440047,
                    0.030606724,
                    0.028644448,
                    -0.05910759,
                    0.034028742,
                    0.02095089,
                    -0.027495798,
                    -0.0011456583,
                    0.0035446608,
                    -0.009500288,
                    -0.06561661,
                    -0.009099458,
                    0.03352621,
                    -0.023571245,
                    0.01867752,
                    -0.042643614,
                    0.041614614,
                    0.022614038,
                    -0.024935268,
                    0.007902948,
                    0.0005029081,
                    -0.0054770242,
                    0.038192596,
                    -0.047668956,
                    -0.022733688,
                    -0.026371079,
                    -0.028979471,
                    -0.013197505,
                    0.0040322384,
                    -0.00059227244,
                    0.005016368,
                    0.0060334015,
                    -0.0005589945,
                    -0.010158369,
                    0.019670622,
                    0.006670543,
                    -0.017421184,
                    0.015901618,
                    -0.0036702943,
                    0.01274283,
                    -0.011911256,
                    0.023140501,
                    0.014848689,
                    0.02114233,
                    -0.014238468,
                    0.032808304,
                    -0.03723539,
                    0.054465134,
                    -0.018521974,
                    0.0030840044,
                    -0.01682293,
                    0.046328865,
                    -0.03524918,
                    -0.018043369,
                    0.022135433,
                    0.023906268,
                    -0.0208791,
                    -0.0002379933,
                    -0.029601656,
                    0.0030959696,
                    -0.04333759,
                    -0.0047471533,
                    -0.06705242,
                    -0.0006595761,
                    -0.00023462813,
                    -0.01809123,
                    -0.040322386,
                    0.015781965,
                    -0.006724386,
                    -0.0130299935,
                    -0.06121345,
                    -0.009003737,
                    -0.0083995,
                    -0.0101882825,
                    -0.01027802,
                    0.017923718,
                    -0.009757538,
                    -0.03625425,
                    -0.022937095,
                    0.05221569,
                    -0.022530282,
                    -0.0060573313,
                    0.008435395,
                    0.040513825,
                    0.009434481,
                    -0.042260733,
                    -0.053125042,
                    -0.0010402158,
                    -0.040465966,
                    -0.0042356453,
                    0.03955662,
                    -0.016081093,
                    -0.02282941,
                    -0.0052646436,
                    -0.0290034,
                    0.037881505,
                    -0.04214108,
                    -0.027232567,
                    0.015482838,
                    0.044677682,
                    0.007902948,
                    -0.02895554,
                    0.027878681,
                    0.018342497,
                    0.023822512,
                    -0.011851431,
                    -0.024552384,
                    -0.01177964,
                    0.033191185,
                    -0.028357286,
                    -0.0019039464,
                    -0.0057432475,
                    0.015805896,
                    0.029386284,
                    0.003353219,
                    0.0016407142,
                    0.0113548795,
                    0.030726375,
                    -0.01267104,
                    0.06398935,
                    0.025677104,
                    0.006550892,
                    -0.025988195,
                    0.037953295,
                    0.035560276,
                    -0.025509592,
                    0.033430487,
                    0.038168665,
                    0.03986771,
                    0.11735369,
                    -0.03955662,
                    -0.029146982,
                    -0.0054800157,
                    -0.02353535
                  ]
                },
                "numCandidates": 33,
                "limit": 5
              }
            },
            {
              "$project": {
                "text": 1,
                "metadata": 1,
                "binary": 1,
                "document_id": 1,
                "chunk_index": 1,
                "score": {
                  "$meta": "vectorSearchScore"
                }
              }
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Knowledge Base Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Cohere Reranker": {
      "main": [
        [
          {
            "node": "Cohere Reranker3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Reranker": {
      "main": [
        [
          {
            "node": "Split Text and Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Isolate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Text and Images": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate documents": {
      "main": [
        [
          {
            "node": "Prepare Cohere Reranker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ccc": {
      "main": [
        []
      ]
    },
    "ddd": {
      "main": [
        []
      ]
    },
    "Voyage-3-Context Embeddings QUERY": {
      "main": [
        [
          {
            "node": "Set Parameters2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Isolate Embedding Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters2": {
      "main": [
        [
          {
            "node": "Build Mongo Query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Mongo Query1": {
      "main": [
        [
          {
            "node": "Aggregate documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Isolate Raw Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Isolate Raw Query": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Isolate Embedding Array": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Isolate Answer": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FeedbackCollector": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Documents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get File Contents": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Document Rows": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI-te3-large-embeddings": {
      "main": [
        [
          {
            "node": "Set Parameters2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI-te3-small-embeddings": {
      "main": [
        []
      ]
    },
    "Cohere Reranker3": {
      "main": [
        [
          {
            "node": "Map Reranker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Delete Old Doc Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Records": {
      "main": [
        [
          {
            "node": "Delete Old Data Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Records": {
      "main": [
        [
          {
            "node": "Insert Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure Cohere Rerank": {
      "ai_reranker": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI TE3L": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI1": {
      "ai_embedding": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "59753c71-cc60-4923-80dc-98923bbaa3ac",
  "meta": {
    "instanceId": "87872e8973430675606cd1ffb627ee35cdb5519138e6c38de609443d8896e2bd"
  },
  "id": "e11efJteyZ3gSmrd",
  "tags": []
}